<div class="card m-3 comicContainer border-0">
    <div class="row comicImageArea align-items-center">
        <img class="col comicImage" [src]="comic.thumbnail.path+'.'+comic.thumbnail.extension"/>
    </div>
    <div class="col">
      <div class="row justify-content-center comicTitleArea">
        <h5 class="card-title text-center my-1">{{comic.title}}</h5>
      </div>
      <div class="row justify-content-around">
        <a class="btn btn-outline-info mt-2" (click)="abreDetalhes(comic);">Detalhes</a>
        <a class="btn btn-outline-danger mt-2" (click)="insereCarrinho(comic);">Comprar</a>
      </div>
    </div>
  </div>
