.comicContainer {
    width: 15vw;
    cursor: pointer;
}

.comicImageArea {
    height: 35vh;
}

.comicImage {
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.comicTitleArea {
    height: 10vh;
}

.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1em;
    max-height: 3em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 540px) {
    .comicContainer {
        width: 40vw;
    }
}

@media only screen and (min-width: 541px) and (max-width: 960px) {
    .comicContainer {
        width: 25vw;
    }
}