<header class="container-fluid p-3 sticky-top header">
    <div class="row ">
        <div class="col-4 text-left py-auto" style="color: white;">
            <a id="buttonMenuBusca" (click)="toggleMenuBusca();"><i class="fas fa-search fa-lg"></i></a>
        </div>
        <div class="col-4 text-center py-auto" style="color: white;">
            MARVEL COMICS STORE
        </div>
        <div class="col-4 text-right py-auto" style="color: white;">
            <span class="badge badge-pill badge-light">1</span>
            <a id="buttonMenuCarrinho" (click)="toggleMenuCarrinho();"><i class="fas fa-shopping-cart fa-lg"></i></a>
        </div>
    </div>
</header>
