<header class="container-fluid p-3 sticky-top header">
    <div class="row align-items-center">
        <div class="col-4 text-left">
            <a class="botaoMenuLateral p-1 btn btn-outline-light border-0" id="buttonMenuCarrinho" (click)="toggleMenuBusca();">
                <i class="fas fa-search fa-lg"></i>
                <i class="fas fa-md ml-1" [ngClass]="{'fa-angle-left': variables.getMenuBuscaAberto(), 'fa-angle-right': !variables.getMenuBuscaAberto()}"></i>
            </a>
        </div>
        <div class="col-4 text-center text-light">
            MARVEL COMICS STORE
        </div>
        <div class="col-4 text-right">
            <a class="botaoMenuLateral p-1 btn btn-outline-light border-0" id="buttonMenuCarrinho" (click)="toggleMenuCarrinho();">
                <span class="badge badge-pill badge-light mr-1">{{variables.getComicsPedido().length}}</span>
                <i class="fas fa-shopping-cart fa-lg"></i>
            </a>
        </div>
    </div>
</header>
