.menuLateral {
    transition: all 1.5s ease-in-out;
    margin-left: -15em;
    min-height: 100vh;
    width: 15em;
}

.menuAberto {
    margin-left: 0em;
}

.menuLateralDireito {
    transition: all 1.5s ease-in-out;
    margin-right: -15em;
    min-height: 100%;
    width: 15em;
}

.menuAbertoDireito {
    margin-right: 0em;
}