<div class="row">
    <div class="col">
        <div class="input-group px-2 py-3">
            <input type="text" class="form-control" placeholder="Títulos" aria-label="Títulos" aria-describedby="botaoBusca" [(ngModel)]="tituloComic">
            <div class="input-group-append">
                <button class="btn btn-outline-danger" type="button" id="botaoBusca" (click)="buscarComics()">
                    <i class="fas fa-search fa-md"></i>
                </button>
            </div>
        </div>
    </div>
</div>
