.close {
    cursor: pointer;
}

.comicImageArea {
    max-height: 100%;
}

.comicImage {
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.listaDetalhes {
    overflow-y: scroll;
    max-height: 60vh;
}

.tituloDetalhe {
    font-weight: 600;
    padding-right: 1em;
}

.raro {
    display: inline-block;
    font-size: 0.75em;
    border: 2px #F0131E solid;
    border-radius: 25%;
    padding: 0.05em;
    color: #F0131E;
}